USE [Prueba]
GO
/****** Object:  Table [dbo].[table1]    Script Date: 16/02/2019 01:30:47 p.m. ******/
DROP TABLE [dbo].[table1]
GO
/****** Object:  Table [dbo].[table1]    Script Date: 16/02/2019 01:30:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table1](
	[columna1] [int] NULL
) ON [PRIMARY]

GO
